/*
  Orange Color: #e67e22
*/

/*---------------------------------------------------------*/
/* BASIC SETUP */
/*---------------------------------------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;

}
.clearfix{zoom: 1;}
.clearfix:after{
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*---------------------------------------------------------*/
/* REUSABLE COMPONENTES */
/*---------------------------------------------------------*/

.row{
  max-width: 1140px;
  margin: 0 auto;
}

section{
  padding: 80px 0;
}

.box{
  padding: 1%;
}
