/*
  Orange Color: #e67e22
*/

/*---------------------------------------------------------*/
/* BASIC SETUP */
/*---------------------------------------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;

}
.clearfix{zoom: 1;}
.clearfix:after{
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*---------------------------------------------------------*/
/* REUSABLE COMPONENTES */
/*---------------------------------------------------------*/

.row{
  max-width: 1140px;
  margin: 0 auto;
}

section{
  padding: 80px 0;
}

.box{
  padding: 1%;
}

/*---------------------------------------------------------*/
/* ------------HEADINGS-----------*/
h1,
h2,
h3{
  font-weight: 300;
  text-transform: uppercase;
}
h1{
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3{
  font-size: 110%;
  margin-bottom: 15px;
}
h2:after{
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/*---------------------------------------------------------*/
/* ------------PARAGRAPHS-----------*/
.long-copy{
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}
.box p{
  font-size: 90%;
  line-height: 145%;
}

/*---------------------------------------------------------*/
/* ------------ICONS-----------*/
.icon-big{
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
  text-align: center;
}

.icon-small{
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  margin-right: 10px;

  /*secrets to align text and icon*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;

}

/*---------------------------------------------------------*/
/* ------------LINKS-----------*/
a:link,
a:visited{
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}
a:hover,
a:active{
  color: #555;
  border-bottom: 1px solid transparent;
}
